<strong>Olá, {{ provider }}</strong>
<p>Você tem um novo inscrito no evento {{ event }}</p>
<p>
  <strong>Dev: </strong> {{ user }} <br />
  <strong>Data/hora: </strong> {{ date }} <br />
  <br />
</p>
